* {
  margin: 0;
}

body {
  text-align: center;
  background-color: #E4F9F5;
  font-family: 'Merriweather', serif;
  font-size: 18px;
  line-height: 145%;
}

h1 {
  font-family: 'Sacramento', cursive;
  font-size: 450%;
  margin: 40px auto;
}

h1, h2 {
  color: #66BFBF;
}

h2 {
  font-weight: 400;
}

h2, h3 {
  font-size: 130%;
  padding: 30px 0;
  font-family: 'Montserrat', sans-serif;
}

h3, a {
  color: #11999E;
}

.top-container {
  position: relative;
  padding-top: 100px;
}

.mountain {
  user-select: none;
  opacity: 0.8;
}

.cloud {
  position: absolute;
  opacity: 0.6;
  user-select: none;
}

.top-cloud {
  top: 50px;
  right: 15%;
}

.bottom-cloud {
  left: 15%;
}
