* {
  margin: 0;
}

body {
  text-align: center;
  font-family: 'Merriweather', serif;
}

h1 {
  font-family: 'Sacramento', cursive;
}

h2, h3 {
  font-family: 'Montserrat', sans-serif;
}

.top-container p {
  padding: 40px 0;
}

.top-container {
  background-color: #E4F9F5;
  position: relative;
  padding-top: 100px;
}

.middle-container, .bottom-container {
  width: 200px;
  height: 200px;
}

.middle-container {
  background: red;
}

.bottom-container {
  background: blue;
}

.top-cloud {
  position: absolute;
  top: 50px;
  right: 25%;
}

.bottom-cloud {
  position: absolute;
}
